python-telegram-bot==21.9
requests>=2.32.2
python-dotenv==1.0.0
flask==3.0.0
gunicorn==21.2.0
yt-dlp==2024.10.7
flask
gunicorn
python-dotenv
python-telegram-bot
requests
telegram
yt-dlp
pyrogram
tgcrypto
flask
gunicorn
pyrogram
python-dotenv
python-telegram-bot
requests
tgcrypto
yt-dlp
